[Unit]
Description=Run a file expiry check shell script
Wants=checkdb.timer

[Service]
Type=oneshot
ExecStart=/bin/bash /var/www/uguu/checkdb.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target