[Unit]
Description=Run checkfiles.sh periodically
Requires=checkfiles.service

[Timer]
Unit=checkfiles.service
OnCalendar={{OnCalendar}}

[Install]
WantedBy=timers.target