[Unit]
Description=Run checkfiles.sh periodically
Requires=check_files_db.service

[Timer]
Unit=check_files_db.service
OnCalendar={{OnCalendar}}

[Install]
WantedBy=timers.target